In [4]:
#includes
import numpy as np
from collections import Counter
import pandas as pd

data=pd.read_csv("breastCancer.csv") #parsing
temptable = data

temptable.loc[temptable['size_uniformity'] >4 , "size_uniformity"] = "*" #iceberg conditions
temptable.loc[temptable['clump_thickness'] >4 , "clump_thickness"] = "*" #iceberg conditions
#can add more conditions here

#print(temptable) #printing starred table

import csv 
my_df = pd.DataFrame(temptable)
my_df.to_csv('out.csv', index=False, header=False)
newData = pd.read_csv("out.csv")

from pprint import pprint

with open('out.csv', newline='') as file:
    reader = csv.reader(file)
    l = list(map(tuple, reader))
    
def pos_star(s): #returns the postion of stars in that row
    star=[]
    for k in range(0,len(s)-1):
        if s[k]=='*':
            star.append(k)
    return star

basetable=[[]] # table containing stars 
for row in range(0,len(l)-1):
    count = 0
    temp = pos_star(l[row])
    for k in range(0,len(l)-1):
        if pos_star(l[k])==temp:
            count=count+1
    basetable.append([l[row],count])

import csv
my_df = pd.DataFrame(basetable)
my_df.to_csv('basetable.csv', index=False, header=False)
starData = pd.read_csv("basetable.csv")

In [5]:
starData

                                            Unnamed: 0  Unnamed: 1
0    ('1000025', '*', '1', '1', '1', '2', '1', '3',...       161.0
1    ('1002945', '*', '4', '4', '5', '7', '10', '3'...       161.0
2    ('1015425', '3', '1', '1', '1', '2', '2', '3',...       360.0
3    ('1016277', '*', '*', '8', '1', '3', '4', '3',...       155.0
4    ('1017023', '4', '1', '1', '3', '2', '1', '3',...       360.0
5    ('1017122', '*', '*', '10', '8', '7', '10', '9...       155.0
6    ('1018099', '1', '1', '1', '1', '2', '10', '3'...       360.0
7    ('1018561', '2', '1', '2', '1', '2', '1', '3',...       360.0
8    ('1033078', '2', '1', '1', '1', '2', '1', '1',...       360.0
9    ('1033078', '4', '2', '1', '1', '2', '1', '2',...       360.0
10   ('1035283', '1', '1', '1', '1', '1', '1', '3',...       360.0
11   ('1036172', '2', '1', '1', '1', '2', '1', '2',...       360.0
12   ('1041801', '*', '3', '3', '3', '2', '3', '4',...       161.0
13   ('1043999', '1', '1', '1', '1', '2', '3', '3',...       360.0
14   ('1044572', '*', '*', '5', '10', '7', '9', '5'...       155.0
15   ('1047630', '*', '4', '6', '4', '6', '1', '4',...       161.0
16   ('1048672', '4', '1', '1', '1', '2', '1', '2',...       360.0
17   ('1049815', '4', '1', '1', '1', '2', '1', '3',...       360.0
18   ('1050670', '*', '*', '7', '6', '4', '10', '4'...       155.0
19   ('1050718', '*', '1', '1', '1', '2', '1', '3',...       161.0
20   ('1054590', '*', '3', '2', '10', '5', '10', '5...       161.0
21   ('1054593', '*', '*', '5', '3', '6', '7', '7',...       155.0
22   ('1056784', '3', '1', '1', '1', '2', '1', '2',...       360.0
23   ('1057013', '*', '4', '5', '1', '2', '?', '7',...       161.0
24   ('1059552', '1', '1', '1', '1', '2', '1', '3',...       360.0
25   ('1065726', '*', '2', '3', '4', '2', '7', '3',...       161.0
26   ('1066373', '3', '2', '1', '1', '1', '1', '2',...       360.0
27   ('1066979', '*', '1', '1', '1', '2', '1', '2',...       161.0
28   ('1067444', '2', '1', '1', '1', '2', '1', '2',...       360.0
29   ('1070935', '1', '1', '3', '1', '2', '1', '1',...       360.0
..                                                 ...         ...
668  ('1350319', '*', '*', '4', '1', '6', '1', '7',...       155.0
669  ('1350423', '*', '*', '10', '8', '5', '5', '7'...       155.0
670  ('1352848', '3', '*', '7', '8', '5', '8', '7',...        22.0
671  ('1353092', '3', '2', '1', '2', '2', '1', '3',...       360.0
672  ('1354840', '2', '1', '1', '1', '2', '1', '3',...       360.0
673  ('1354840', '*', '3', '2', '1', '3', '1', '1',...       161.0
674  ('1355260', '1', '1', '1', '1', '2', '1', '2',...       360.0
675  ('1365075', '4', '1', '4', '1', '2', '1', '1',...       360.0
676  ('1365328', '1', '1', '2', '1', '2', '1', '2',...       360.0
677  ('1368267', '*', '1', '1', '1', '2', '1', '1',...       161.0
678  ('1368273', '1', '1', '1', '1', '2', '1', '1',...       360.0
679  ('1368882', '2', '1', '1', '1', '2', '1', '1',...       360.0
680  ('1369821', '*', '*', '10', '10', '5', '10', '...       155.0
681  ('1371026', '*', '*', '10', '10', '4', '10', '...       155.0
682  ('1371920', '*', '1', '1', '1', '2', '1', '3',...       161.0
683  ('466906', '1', '1', '1', '1', '2', '1', '1', ...       360.0
684  ('466906', '1', '1', '1', '1', '2', '1', '1', ...       360.0
685  ('534555', '1', '1', '1', '1', '2', '1', '1', ...       360.0
686  ('536708', '1', '1', '1', '1', '2', '1', '1', ...       360.0
687  ('566346', '3', '1', '1', '1', '2', '1', '2', ...       360.0
688  ('603148', '4', '1', '1', '1', '2', '1', '1', ...       360.0
689  ('654546', '1', '1', '1', '1', '2', '1', '1', ...       360.0
690  ('654546', '1', '1', '1', '3', '2', '1', '1', ...       360.0
691  ('695091', '*', '*', '10', '5', '4', '5', '4',...       155.0
692  ('714039', '3', '1', '1', '1', '2', '1', '1', ...       360.0
693  ('763235', '3', '1', '1', '1', '2', '1', '2', ...       360.0
694  ('776715', '3', '1', '1', '1', '3', '2', '1', ...       360.0
695  ('841769', '2', '1', '1', '1', '2', '1', '1', ...       360.0
696  ('888820', '*', '*', '10', '3', '7', '3', '8',...       155.0
697  ('897471', '4', '*', '6', '4', '3', '4', '10',...        22.0

[698 rows x 2 columns]